p, ul, ol{
	font-family: 'Source Sans Pro'
}

h2, h3 {
	margin-top: 40px;
	font-family: 'Karla'
}

h1 {
	font-size: 2.5em;
	font-family: 'Frank Ruhl Libre';
}

body {
	max-width: 1440px;
	margin: 1.5em auto;
	padding: 0 3em;
	background-color: #FDFDF8;
}
